#board {

  background-size: cover;
  height: 600px;
  width: 900px;
}

.container {
  display: flex;
  height: 900px;
  width: 1600px;
  background-color: grey;
  flex-wrap: wrap;
  flex-direction: column;
}

.piece {
 /* background-image: url("http://i.imgur.com/HWs6Mym.jpg");*/
 /* background-image: url("http://i.imgur.com/m5JWcJs.jpg?1");*/
  height: 100px;
  width: 100px;
}
