#board {

  background-size: cover;
  height: 600px;
  width: 900px;
}

.container {
  display: flex;
  height: 450px;
  width: 800px;
  background-color: grey;
  flex-wrap: wrap;

}

.piece {
  background-image: url("http://i.imgur.com/HWs6Mym.jpg");
  height: 50px;
  width: 50px;
}
